# Python 编译缓存
__pycache__/
*.py[cod]
*.pyd
build/
develop-eggs/
dist/
eggs/
lib/
*.egg-info/

# AI模型、数据集（禁止上传代码仓库）
*.pt
*.pth
*.onnx
agent_weights/
local_dataset/

# 运行日志、临时输出
logs/
*.log
output_cache/

# 虚拟环境目录
venv/
.venv
env/
.env
.env.local

# Windows系统垃圾文件
.DS_Store
Thumbs.db